@team: 33px;
@leftColor: rgb(236, 235, 233);
@textColor: rgb(96, 95, 95); 
.task{
    background-color: @leftColor;
    padding-left: 55px;
    //padding-right: 55px;
    padding-top: 23px;
    padding-bottom: 20px;
    //margin-bottom: 20px;
    .big-text{
        color: @textColor;
        font-size: @team;
        .delete{
            margin-top: -7px; 
            float: right;
            display: none;
        }
        .floatr{
            float: right;
            display: none;
            .up_down{
                width: 30px;
                height: 30px;
                font-size: 13px;
            }
        }
    }
     .big-text:hover{
         .delete{
             display: inline-block;
         }
         .floatr{
             display: inline-block;
         }
     }
    ul{
        font-size: 18px;
        margin-top: 15px;
        margin-left: -34px;
        padding-left: 0;
        color: @textColor;
        list-style: none;
        overflow: hidden;
        li{
            margin-top: 15px;
            table {
                width:95%;
                td {
                    vertical-align: top;
                }
            }
            .gli{
                margin: 10px;
                height: 6px;
                width: 6px;
                background-color: #cdccca;
                // or #3a9189
            }
            .tt1{
                width: 30px;
            }
            .tt3{
                width: 60px;
               // display: inline-block;
            }
            .img_cross{
                margin-left: 5px; 
                display: none;
                float: left;
                margin-top: -3px;
            }
            .plus{
                margin-left: 4px; 
                color: rgb(60, 148, 139);
                display: none;
                float: left;
            }
            
        }
        li:hover{
            .img_cross{
                display: block;
            }
            .plus{
                display: block;
            }
        }
    }
    input{
        border: 0;
        background: 0;
        color: rgb(185, 184, 183);
    }
    .style_text{
        font-size: 18px;
        color: @textColor;
        margin-top: 20px;
        .text1{
            text-align: justify;
        }
        .text2{
            text-align: center;
            color: black;
        }
        .text3{
           text-align: center; 
        }
    }
}
.task_m {
    margin-bottom: 20px;
}
.task_mp {
    margin-bottom: 20px;
    padding-right: 60px;
}

.back_bg{
    margin-top: 18px;
    margin-bottom: 20px;
    .back{
        height: 95px;
        width: 183px;
        background-color: @leftColor;
        float: right;
        .back1{
            width: 139px;
            height: 6px;
            background-color: rgb(181, 180, 179);
            margin-left: 22px;
            margin-top: 14px;
        }
    }
    .bg{
        height: 95px;
        width: 183px;
        background-color: @leftColor;
        float: left; 
        .margen{
            margin: 20px;
            .height{
                height: 35px;
                .bg1{
                    width: 21px;
                    height: 21px;
                    border: 2px solid rgb(181, 180, 179);
                    float: left;
                }
                .bg2{
                    width: 109px;
                    height: 6px;
                    background-color: rgb(181, 180, 179);
                    margin-top: 8px;
                    margin-left: 8px;
                    float: left;
                }
            }
            .bg3{
                width: 21px;
                height: 21px;
                border: 2px solid rgb(181, 180, 179);
                float: left;
            }
            .bg4{
                width: 109px;
                height: 6px;
                background-color: rgb(181, 180, 179);
                margin-top: 8px;
                margin-left: 8px;
                float: left;
            }
        }
    }
}
.abba{

    font-size: 33px;
    color: rgb(234, 244, 243);

    .fixed{
        position: fixed;
        background-color: #3c948b;
        padding: 20px;
        height: 100%;
    }
    .main{
        .but{
            border: 0;
            background-color: #3c948b;
        }
    }
    .main:hover{
        .img_pencil{
            display: inline-block;
        }
    }
    .img_pencil{
        background: 0;
        border: 0;
        display: none;
        img {
        vertical-align: top;
        margin-top: 13px;    
        }
    }
    table { 
        border-spacing: 10px;
        border-collapse: separate;
        td{
            border: 1px solid rgb(234, 244, 243);
            background: rgb(73, 181, 170);
            height: 45px;
            width: 45px;
            font-size: 27px;
            text-align: center;
            margin-left: 8px;
        }
    
    }
    .list{
        font-size: 22px;
        .inter:hover{
            .img_Cross{
               display: inline-block; 
            }
        }
        .m{
            color: rgb(73, 181, 170);
        }
        .img_Cross{
            margin-left: 6px;
            vertical-align: top;
            //margin-top: -3px; 
            background: 0;
            border: 0;
            display: none;
        }
        ul{
            font-size: 18px;
            li{
                list-style: none;
            }
            li:hover{
                .img_Cross{
                    display: inline-block;
                }
            }
        }
    }
}